
/* COLORS */
$primary-color:                       #5a5c69 !default;
$secondary-color:                     #858796 !default;
$tertiary-color:                      #1cc88a !default;
$quarternary-color:                   #36b9cc !default;
$quinternary-color:                   #f6c23e !default;

$gray-color:                          #757679 !default;

$white:                               #ffffff !default;
$black:                               #000000 !default;

$background-color-table:              #f9f9fa !default;

$background-color-table-td:           #f1f1f3 !default;
$color-table:                         #757679 !default;

/* CUSTOM FONTS */
$base-font-family:                    'Arial';
$base-font-family-secondary:          'Arial Black';
$base-font-size:                      '14px';
$base-font-color:                     $gray-color;
