<div class="container">

  <!-- Outer Row -->
  <section>
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9 mt-5">

        <div class="card o-hidden border-0 shadow-lg my-5 mt-5">
          <div class="card-body p-0 ">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="assets/images/logo-login.png" class="w-50">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bem-Vindo!</h1>
                  </div>
                  <form class="user" >
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="emailAddress"
                             aria-describedby="emailHelp" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password"
                             placeholder="Senha" name="password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small" *ngIf="false">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Lembrar-Me</label>
                      </div>
                    </div>
                    <a (click)="onLogin()" class="btn btn-secondary btn-user btn-block">
                      Entrar
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small text-secondary" (click)="nextSection(1)">Esqueceu a senha?</a>
                  </div>
                  <!--<div class="text-center">-->
                  <!--<a class="small" (click)="nextSection(2)">Inscrever-se</a>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section *ngIf="section == 1">
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="assets/images/logo-login.png" class="w-50">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Esqueceu sua senha?</h1>
                    <p class="mb-4 small">Entendemos, as coisas acontecem. Basta digitar seu endereço de e-mail abaixo e
                      enviaremos um link para redefinir sua senha!</p>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="email"
                             aria-describedby="emailHelp" placeholder="Email" #reemail>
                    </div>
                    <a class="btn btn-secondary btn-user btn-block">
                      Redefinir senha
                    </a>
                  </form>
                  <hr>
                  <!--<div class="text-center">-->
                  <!--<a class="small" (click)="nextSection(2)">Inscrever-se!</a>-->
                  <!--</div>-->
                  <div class="text-center">
                    <a class="small text-secondary">Entrar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section *ngIf="section == 2">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crie a sua conta!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-12 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="name"
                           placeholder="Nome Completo">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="registerEmail" placeholder="Email">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="registerPassword"
                           placeholder="Senha">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="registerRepeatPassword"
                           placeholder="Confirmar Senha">
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Inscrever-se
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small">Esqueceu a senha?</a>
              </div>
              <div class="text-center">
                <a class="small">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
