<div class="container-fluid">

  <div class="row mb-4">
    <div class="col-md-10">
      <h1 class="h3 text-gray-800">Fale Conosco - Detalhe</h1>
    </div>
    <div class="col-md-2 text-right">
      <a [routerLink]="['/fale-conosco']" class="btn btn-sm btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-left"></i>
                    </span>
        <span class="text">Voltar</span>
      </a>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header">
      <div class="col-md-12 row plaintext-pane">
        <div class="col-md-4">
          <label class="m-0">Status:</label>
          <input type="text" readonly disabled class="form-control-plaintext" id="status"
                 [(ngModel)]="model.contactStatus.name">
        </div>
        <div class="col-md-4">
          <label class="m-0">Nome:</label>
          <input type="text" readonly disabled class="form-control-plaintext" id="name"
                 [(ngModel)]="model.name">
        </div>
        <div class="col-md-4">
          <label class="m-0">Email:</label>
          <input type="text" readonly disabled class="form-control-plaintext" id="email"
                 [(ngModel)]="model.email">
        </div>
        <hr class="col-md-12">
        <div class="col-md-4">
          <label class="m-0">Telefone:</label>
          <input type="text" readonly disabled class="form-control-plaintext" id="phone"
                 [(ngModel)]="model.user.phone" mask="(00) 00000-0000">
        </div>
        <div class="col-md-4">
          <label class="m-0">Data da Mensagem:</label>
          <input type="{date}" readonly disabled class="form-control-plaintext" id="data"
                 [(ngModel)]="model.createdAt">
        </div>
        <div class="col-md-4">
          <label class="m-0">Assunto:</label>
          <input type="{date}" readonly disabled class="form-control-plaintext" id="subject"
                 [(ngModel)]="model.subject.name">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 message-card-scroll">
          <div class="timeline" dir="ltr">
            <article class="timeline-item alt">
              <div class="time-show first">
                <a class="btn btn-success width-lg">HISTÓRICO</a>
              </div>
            </article>
            <article class="timeline-item alt">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow-alt"></span>
                    <span class="timeline-icon bg-danger"><i class="fas fa-comments"></i></span>
                    <h4 class="text-danger">{{model.name}}</h4>
                    <p class="timeline-date text-muted">
                      <small>{{model.createdAt | date: 'dd/MM/yyyy HH:mm'}}</small>
                    </p>
                    <p>{{model.message}}</p>
                  </div>
                </div>
              </div>
            </article>
            <article
              *ngIf="model.contactStatus.id && model.contactStatus.id.toLowerCase() !== 'e3c74e78-34be-4ff0-95d2-7da97cd11525'"
              class="timeline-item ">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon bg-success"><i class="fas fa-circle"></i></span>
                    <h4 class="text-success">{{model.userAdmin.name}}</h4>
                    <p class="timeline-date text-muted">
                      <small>{{model.createdAt | date: 'dd/MM/yyyy HH:mm'}}</small>
                    </p>
                    <p>{{model.answer}}</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="card-footer" *ngIf="model.contactStatus.name !== 'Respondido'">
      <div class="row">
        <div class="col">
          <div>
            <input type="text" class="form-control" [(ngModel)]="model.answer" maxlength="999" placeholder="Digite uma mensagem...">
          </div>
        </div>
        <div class="col-auto text-right mt-1">
          <a class="btn btn-success btn-icon-split"
             (click)="answer()">
                    <span class="icon text-white-50">
                      <i class="fas fa-paper-plane"></i>
                    </span>
            <span class="text">Enviar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
