<div class="container-fluid">

  <div class="row mb-4">
    <div class="col-md-10">
      <h1 class="h3 text-gray-800">Clientes</h1>
    </div>
    <div class="col-md-2 text-right">
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-11">
          <h6 class="m-0 pt-2 font-weight-bold text-secondary">Filtro</h6>
        </div>
        <div class="col-md-1 text-right">
          <a class="btn btn-secondary header" data-toggle="collapse" role="button"
             aria-expanded="false" href="#collapseFilter"
             aria-controls="collapseFilter">
            <i class="fas fa-plus text-white" aria-hidden="true"></i>
            <i class="fas fa-minus text-white" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="collapse show" id="collapseFilter">
        <hr class="sidebar-divider mb-2">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-group">
              <label>Nome</label>
              <input type="text" class="form-control form-control-user" id="name"
                     aria-describedby="name" [(ngModel)]="model.userName">
            </div>
            <div class="col-md-3 form-group">
              <label>CPF</label>
              <input type="text" class="form-control form-control-user" id="cpf"
                     aria-describedby="cpf" [(ngModel)]="model.userCpf" mask="000.000.000-00">
            </div>
            <div class="col-md-3 form-group">
              <label>Status</label>
              <select class="form-control" [(ngModel)]="isActiveSelect">
                <option [ngValue]="null">Todos</option>
                <option [ngValue]="true">Ativos</option>
                <option [ngValue]="false">Inativos</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-right">
          <hr>
          <a (click)="getExcel()" class="btn btn-success btn-icon-split mr-sm-3 mb-3 mb-sm-0">
                    <span class="icon text-white-50">
                      <i class="fas fa-download"></i>
                    </span>
            <span class="text">Exportar Excel</span>
          </a>
          <a (click)="onSearch()" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-search"></i>
                    </span>
            <span class="text">Pesquisar</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered flex-row flex-nowrap" id="tableUser" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th class="w-25">Nome</th>
            <th>Email</th>
            <th class="text-center">Telefone</th>
            <th class="text-center">CPF</th>
            <th class="text-center">Data de Nascimento</th>
            <th class="text-center">Status</th>
            <th class="text-center">Opções</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of listUser">
            <td class="align-middle">{{user.name}}</td>
            <td class="align-middle">{{user.email}}</td>
            <td class="align-middle text-center">{{user.phone}}</td>
            <td class="align-middle text-center">{{user.cpf}}</td>
            <td class="align-middle text-center">{{user.birthday | date: 'dd/MM/yyyy'}}</td>
            <td class="align-middle text-center" *ngIf="user.isActive == true">Ativo</td>
            <td class="align-middle text-center" *ngIf="user.isActive != true">Inativo</td>
            <td class="text-center">
              <a class="btn btn-sm btn-secondary btn-icon-split mr-2" [routerLink]="['/detalhe-usuario/' + user.id]">
                <span  class="icon text-white-50">
                  <i  class="far fa-eye"></i>
                </span>
                <span  class="text">Detalhe</span>
              </a>
            </td>
          </tr>

          <tr>
            <td class="align-middle">Davi Vinicius</td>
            <td class="align-middle">davi@produtora.com</td>
            <td class="align-middle text-center">11 94587-4578</td>
            <td class="align-middle">121.121.121.21</td>
            <td class="align-middle text-center">13/09/2001</td>
            <td class="align-middle text-center">Ativo</td>
            <td class="text-center">
              <a class="btn btn-sm btn-secondary btn-icon-split mr-2" [routerLink]="['/cliente-detalhe/' + 'user.id']">
                <span  class="icon text-white-50">
                  <i  class="far fa-eye"></i>
                </span>
                <span  class="text">Detalhe</span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
