@keyframes fecha_menu {
    from {
        left: 0px;
    }

    to {
        left: -25%;
    }
}

@keyframes fundo_acoes {
    0% {
        background-color: rgb(212, 212, 212);
    }

    25% {
        background-color: rgb(140, 139, 153);
    }

    50% {
        background-color: rgb(105, 123, 131);
    }

    75% {
        background-color: rgb(143, 143, 143);
    }

    100% {
        background-color: rgb(212, 212, 212);
    }
}